.bg_light_blue {
      background-color: #01b1af;
      color: #ffffff;
  }
.bg_dark_blue {
	  background-color: #36648b;
      color: #ffffff;
  }
.bg_yellow {
      background-color: #ffa500;
      color: #ffffff;
  }
.bg_grayish {
	  background-color: #607b8b;
      color: #ffffff;
  }
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
.container-fluid2 {
      padding-top: 40px;
      padding-bottom: 40px;
  }
.bg_cold_blue {
  	 background-color: #468499;
    color: #ffffff;
    padding-bottom: 90px;
    font-size: 20px;
    display: none;
    }
.bg_orange{
  background-color: #F67C00;
  color: #ffffff;
}
.close{
  text-decoration: none;
}
.ml-1 {
  margin-left: ($spacer-x * .25) !important;
}
.ml-2 {
  margin-left: ($spacer-x * .5) !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #6495ed;
}
.chartContainer {
	background-color: #ffa500;
}
.solitaryHeader{
  padding-bottom: 30px;
}
.big-font{
  font-size: 30px;
}
.details{
  color: #ffffff;
}
.details:hover{
  color: #535555;
  text-decoration:none;
}
.details:visisted{
  color: #FF5722;
  text-decoration:none;
}
.detailsLink{
  padding-top: 20px;
  color: #ffffff;
}
#detailsDiv{
  display: none;
}
#table-details tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #E56B00;;
}
