
.icon-emo-thumbsup { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-mail-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;&nbsp;'); }
.icon-hand-peace-o { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf25b;&nbsp;'); }